#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/virtio-forwarder prefix=/usr install

override_dh_auto_clean:
	$(MAKE) DESTDIR=$$(pwd)/debian/virtio-forwarder clean
